<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>A2te</string>
    <key>CFBundleExecutable</key>
    <string>A2te</string>
    <key>CFBundleIconFile</key>
    <string>A2te</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.shunkita.A2te</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>A2te</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>A2te Project</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>a2teproj</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>A2teProjectDoc</string>
            <key>CFBundleTypeIconFiles</key>
            <array>
                <string>A2teProjectDoc</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>io.github.shunkita.a2teproj</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>A2te Binary Tiles</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>bin</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>A2teProjectDoc</string>
            <key>CFBundleTypeIconFiles</key>
            <array>
                <string>A2teProjectDoc</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.apple.macbinary-archive</string>
            </array>
        </dict>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>A2te Project File</string>
            <key>UTTypeIconFile</key>
            <string>A2teProjectDoc</string>
            <key>UTTypeIconFiles</key>
            <array>
                <string>A2teProjectDoc</string>
            </array>
            <key>UTTypeIdentifier</key>
            <string>io.github.shunkita.a2teproj</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>a2teproj</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>application/json</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
